# Dependencies
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build
dist/
build/
coverage/

# Env & secrets
.env
.env.*
!.env.example
service-account.json
**/service-account.json

# Uploads & local data
uploads/
*.log
.DS_Store

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# OS
Thumbs.db
